@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

*{
  margin: 0;
  padding: 0;
}

#root{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body{
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3{
  font-family: 'Montserrat', sans-serif;
}