#search-form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

#search-form button{
    width: 60%;
    padding: 10px;
}

form #city-name{
    padding: 10px;
}

.weather-container{
    min-width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.temp-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.desc-container{
    display: flex;
    justify-content: center;
}

.weather-overview-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    min-height: 20vh;
}

.weather-overview-container p{
    padding: 10px;
    margin: 2px;
    background-color: #e5e5e5;
    border-radius: 5px;
}